/* css styles */

```{css, include=FALSE}

.title {
  font-size: 50px !important;
<!-- color: red !important; -->
}

.author {
  font-size: 20px;
}

```

```{css, include=FALSE}
var resizeSlide = function() {
   Reveal.configure({
     width: window.innerWidth,
     height: window.innerHeight
   });
}

setInterval(resizeSlide, 1000);
```


```{css echo=FALSE}
.centering {
text-align: center;
vertical-align: middle;
}
```

```{css echo=FALSE}
.container {
text-align: center;
}
```


